<!-- templates/includes/sidebar_menu.html -->
<ul class="menu-list">
    <li class="menu-item">
        <a href="{% url 'dashboard' %}" class="menu-link">
            <i class="fas fa-users"></i>
            <span>Accueil</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="" class="menu-link">
            <i class="fas fa-tasks"></i>
            <span>Interventions</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="" class="menu-link">
            <i class="fas fa-users"></i>
            <span>Clients</span>
        </a>
    </li>
    <!-- Ajouter d'autres éléments selon le schéma UML -->
    <li class="menu-item">
        <a href="" class="menu-link">
            <i class="fas fa-users"></i>
            <span>Rapports d'Intervention</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="" class="menu-link">
            <i class="fas fa-users"></i>
            <span>Gestion d'Utilisateur</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="" class="menu-link">
            <i class="fas fa-users"></i>
            <span>Historique</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="" class="menu-link">
            <i class="fas fa-users"></i>
            <span>Fichier</span>
        </a>
    </li>
</ul>